.logo > i {
  position: relative;
  left:50%;
  margin:0 auto;
  color: #d62598;
}

#search_div input {
  display: inline-block;
}

.center-block {
  text-align: center;
}

#search_input {
  width: 30%;
}

.pd_top {
  padding-top: 2em;
}

.bg_grey {
  background-color: grey;
}

.category {
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
  height: 7em;
  padding-top: 15%;
  font-size: 1.5em;
}

.hr_block {
  display: inline-block;
  width: 90%;
}

.panel-heading {
  font-size: 2em;
}

.navbar-nav li a {
  font-size: 3em;
}
