.logo > i {
  position: relative;
  left:50%;
  margin:0 auto;
  color: #d62598;
  font-size: 7em
}

#search_div input {
  display: inline-block;
}

.center-block {
  text-align: center;
}

#search_input {
  width: 30%;
}

.pd_top {
  padding-top: 1em;
}

.cat_white {
  background-color: #F8F6C3;
}

.cat_red {
  background-color: #580b1c;
}

.cat_rose {
  background-color: #FFECF1;
}

.cat_sparkling {
  background-color: #F6ECB1;
}

.cat_whisky {
  background-color: #CA9549;
}

.cat_cognac {
  background-color: #CA9549;
}

.cat_beer {
  background-color: #FFC30F;
}

.cat_other {
  background-color: #E2FF9E;
}

.category {
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
  height: 7em;
  padding-top: 15%;
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  opacity: 0.8;
}

.category:hover {
  font-weight: bold;
  opacity: 1;
}

.hr_block {
  display: inline-block;
  width: 90%;
}

.panel-heading {
  font-size: 2em;
}

.panel-body {
  padding-bottom: 0px;
}

.navbar-nav li a {
  font-size: 3em;
}
