<template name="category">
  <div class="container pd_top">
    <div class="panel panel-default center-block">
      <div class="panel-heading text-center">
        Wine
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectWhiteWineCategory">
              <div class="panel-body cat_white category">
                White wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectRedWineCategory">
              <div class="panel-body cat_red category">
                Red wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectRoseWineCategory">
              <div class="panel-body cat_rose category">
                Wheat wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectSparklingWineCategory">
              <div class="panel-body cat_sparkling category">
                Sparkling wine
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default center-block">
      <div class="panel-heading text-center">
        Liqour and beer
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectWhiskyCategory">
              <div class="panel-body cat_whisky category">
                Whisky
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectCognacCategory">
              <div class="panel-body cat_cognac category">
                Cognac
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectBeerCategory">
              <div class="panel-body cat_beer category">
                Beer
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default js-selectOtherCategory">
              <div class="panel-body cat_other category">
                All
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
