<template name="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="search_div" class="center-block">
          <form>
            <input type="text" name="searchText" placeholder="Search for beverages..." class="input">
            <input type="submit" value="Search" class="btn btn-default js-submitSearch">
          </form>
        </div>
      </div>
    </div>
  </div>

    {{> EasySearch.Input index=productIndex }}
    <ul>
        {{#EasySearch.Each index=productIndex }}
            <li>{{ProductName}}</li>
        {{/EasySearch.Each}}
    </ul>
</template>
