<template name="searchResultsTable">
  <table class="table-bordered">
    <thead>
      <tr>
        <td>
          <b>ProductName</b>
        </td>
        <td>
          <b>ProductType</b>
        </td>
        <td>
          <b>Price</b>
        </td>
        <td>
          <b>Add to basket</b>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each searchResults}}
      <tr>
        <td>
          <a href="/product/{{productId}}">{{productName}}&nbsp;&nbsp;&nbsp;{{volume}}L</a>
        </td>
        <td>
          {{productType}}
        </td>
        <td>
          {{price}}
        </td>
        <td class="td-addItem">
          <input type="number" name="quantity" min="0" value="1" class="input">
          <i id={{productId}} class="fa fa-plus-circle js-add-to-cart"></i>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
