<template name="category">
  <div class="container pd_top">
    <div class="panel panel-default center-block">
      <div class="panel-heading text-center">
        Wine
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                White wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Red wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Rose wine
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Sparkling wine
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default center-block">
      <div class="panel-heading text-center">
        Liqour and beer
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Whisky / Beer
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Cognac
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Beer
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="panel-body hr_block">
            <div class="panel panel-default">
              <div class="panel-body bg_grey category">
                Other
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
